
<div class="container content-center">
  <%= image_tag  "https://cdn.pixabay.com/photo/2013/07/13/13/45/tux-161475_1280.png", class: "img-new" %>
</div>

<div class="container">
  <h1>Your new cocktail</h1>
</div>
<div class="container">
  <%= render 'form', cocktail: @cocktail %>
</div>