.container-flex {
  display: flex;
  justify-content: space-around;
}

.block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.header-cocktail-show {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  h1 {
    color: $light-grey;
  }
}