.blue-button {
  background-color: $deep-blue;
  padding: 10px;
  color: white;
}

.blue-button:hover {
  background-color: $red;
  opacity: 0.6;
}

.delete {
  font-style: italic;
  color: $grey;
  font-size: 15px;
}

.delete:hover {
  color: $red;
}