.bottom-review-block {
  padding-top: 5px;
}

#author {
  font-size: 14px;
  font-style: italic;
}

.reviews {
  padding-top: 10px;
}

.reviews {
  padding-top: 15px;
  max-width: 400px;
}

#add-rev-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

